
.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-body);
    color: var(--main-text-color);
    width: 1600px;
    height: 2346px;
    
}

.a,
.ul  {
    text-decoration: none;
    list-style-type: none;
}

:root {
     --background-color-body: #FFFFFF;
     --background-color-second: #2F303A;
    --background-color-our-team-section: #F5F4FA;
    --background-color-hero-button-hover: #188CE8;
    --background-color-hero-button-focus: #188CE8;
    --background-color-hero-button: #2196F3;
     --main-text-color: #757575;
     --main-text-color-second: #FFFFFF;
     --color-web-logo: #2196F3;
     --color-logo-header: #000000;
     --color-logo-footer: #FFFFFF;
     --color-text-button-hero: #FFFFFF;
     --color-header-menu: #212121;
     --color-header-menu-hover: #2196F3;


 


     
     
     --color-map-address: #FFFFFF;
     --color-map-address-shadow: #00000040;
     --color-contacts-footer: #ffffff99;
     --color-map-email-phone-hover-focus: #2196f3;

}

/*Header*/
/*Logotype WebStudio*/

.header {
    background-color: var(--background-color-body) ;



}

.logo-header,.logo-footer:link  {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
}
.logo-header:link{
    color: var(--color-logo-header);
}

.logo-header:visited
{
  color: var(--color-logo-header);
}

.logo-footer:link {
    color: var(--color-logo-footer);
}

.logo-footer:visited {
    color: var(--color-logo-footer);
}

.web-logo {
    color: var(--color-web-logo);
}

.header-menu {
    font-style: medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2%;
    color: var(--color-header-menu);
}

.homepage:link,
 { 

   color: var(--color-header-menu);

}

.homepage:hover,
.homepage:focus {
    color: var(--color-header-menu-hover);
}

.homepage:active {

    color: var(--color-header-menu-hover);
}

.homepage:visited {
    color: var(--color-header-menu-hover);

}


/*
.homepage:hover,
.homepage:focus,
.portfolio-header:hover,
.portfolio-header:focus,
.contacts-menu:hover,
.contacts-menu:focus {
    color: var(--color-header-menu-hover);
}
 
.homepage:visited {
    color: var(--color-header-menu-hover);
}

.contacts-menu:visited,
.portfolio-header:visited {
    color: var(--color-header-hover);
}*/


.header-contacts { 




}
































/*main-content*/

.hero-section {
    background-color: var(--background-color-second);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    padding-top: 200px;
    
    
}

.headline {
    color: var(--main-text-color-second);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 30px;
    
}

.button-hero {
    width: 216px;
    height: 50px;
    background-color: var(--background-color-hero-button);
    color: var(--color-text-button-hero);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 692px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
        
}

.button-hero:hover {
    background-color: var(--background-color-hero-button-hover);
  
}
.button-hero:focus {
    background-color: var(--background-color-hero-button-focus);
}

.benefits-section {
    background-color: var(--background-color-body);

}

.visually-hidden {

    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.what-we-do-section {
    background-color: var(--background-color-body);

}


.our-team-section {
    background-color: var(--background-color-our-team-section);
    

}

.team-members {
   background-color:var(--background-color-body);

}

/*footer*/

.footer {
    background-color: var(--background-color-second);
    
}

.address-list-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
}
.contacts-footer:link {
    color: var(--color-contacts-footer)
}

.map-address:link {
    color: var(--color-map-address);
    text-shadow: 0px 4px 4px var(--color-map-address-shadow);
 
}

.map-address:visited {
    color: var(--color-map-address);
    
}

.map-address:hover,
.map-address:focus,
.contacts-footer:hover,
.contacts-footer:focus     {
    color: var(--color-map-email-phone-hover-focus);
    
}

.contacts-footer:visited {
    color: var(--color-contacts-footer)
}

